/* Hover Effects */
.pop-effect{
    transition: transform 0.15s ease, color 0.15s ease;
    display: inline-block;
}

.pop-effect:hover{
    transform: scale(1.1);
}

.card-pop{
    transition: transform 0.15s ease;
    will-change: transform;
}

.card-pop:hover{
    transform: scale(1.05);
}

/* Website Colour Scheme */
.nav-bg{
    background: #594E42;
}
.text-green-shaded{
    color: #56b814;
}
.text-green-shaded:hover{
    color: #7cfc00;
}
.coloured-badge{
    background: #2F5D8A;
}